In [202]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [203]:
df = pd.read_csv('onlinefoods.csv')

In [204]:
df.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,Output,Feedback,Unnamed: 12
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,Yes,Positive,Yes
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,Yes,Positive,Yes
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,Yes,Negative,Yes
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,Yes,Positive,Yes
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,Yes,Positive,Yes

In [205]:
df.shape

(388, 13)

In [206]:
df.size

5044

In [207]:
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Output', 'Feedback', 'Unnamed: 12'],
      dtype='object')

In [208]:
df.dtypes

Age                             int64
Gender                         object
Marital Status                 object
Occupation                     object
Monthly Income                 object
Educational Qualifications     object
Family size                     int64
latitude                      float64
longitude                     float64
Pin code                        int64
Output                         object
Feedback                       object
Unnamed: 12                    object
dtype: object

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         388 non-null    int64
 1   Gender                      388 non-null    object
 2   Marital Status              388 non-null    object
 3   Occupation                  388 non-null    object
 4   Monthly Income              388 non-null    object
 5   Educational Qualifications  388 non-null    object
 6   Family size                 388 non-null    int64
 7   latitude                    388 non-null    float64
 8   longitude                   388 non-null    float64
 9   Pin code                    388 non-null    int64
 10  Output                      388 non-null    object
 11  Feedback                    388 non-null    object
 12  Unnamed: 12                 388 non-null    object
dtypes: float64(2), int64(3), object(8)
memory usage: 39.5+ KB

In [210]:
df.describe()
df.columns

Index(['Age', 'Gender', 'Marital Status', 'Occupation', 'Monthly Income',
       'Educational Qualifications', 'Family size', 'latitude', 'longitude',
       'Pin code', 'Output', 'Feedback', 'Unnamed: 12'],
      dtype='object')

In [211]:
df.drop(['latitude','longitude','Pin code'],axis=1,inplace=True)

In [212]:
for x in df.columns:
    print(f'{x} : {df[x].unique()}')

Age : [20 24 22 27 23 21 28 25 32 30 31 26 18 19 33 29]
Gender : ['Female' 'Male']
Marital Status : ['Single' 'Married' 'Prefer not to say']
Occupation : ['Student' 'Employee' 'Self Employeed' 'House wife']
Monthly Income : ['No Income' 'Below Rs.10000' 'More than 50000' '10001 to 25000'
 '25001 to 50000']
Educational Qualifications : ['Post Graduate' 'Graduate' 'Ph.D' 'Uneducated' 'School']
Family size : [4 3 6 2 5 1]
Output : ['Yes' 'No']
Feedback : ['Positive' 'Negative ']
Unnamed: 12 : ['Yes' 'No']

In [213]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\3906169380.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].replace({'Male':1,'Female':0},inplace=True)
C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\3906169380.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [214]:
df['Output'].replace({'Yes':1,'No':0},inplace=True)

C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\1919417324.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Output'].replace({'Yes':1,'No':0},inplace=True)
C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\1919417324.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Output'].replace({'Yes':1,'No':0},inplace=True)

In [215]:
df = df[df['Marital Status'] != 'Prefer not to say']

In [216]:
df.shape

(376, 10)

In [217]:
df['Marital Status'].replace({'Single':0,'Married':1},inplace=True)

C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\4113778235.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marital Status'].replace({'Single':0,'Married':1},inplace=True)
C:\Users\gunja\AppData\Local\Temp\ipykernel_5596\4113778235.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Marital Status'].replace({'Single':0,'Married':1},inplace=True)

In [218]:
columns_to_Drop = []
for x in df.columns:
    if df[x].dtype != 'int64' and df[x].dtype != 'float':
        columns_to_Drop.append(x)

print(columns_to_Drop)

['Occupation', 'Monthly Income', 'Educational Qualifications', 'Feedback', 'Unnamed: 12']

In [219]:
df.drop(columns=columns_to_Drop,axis=1,inplace=True)

In [220]:
model = {'log':LogisticRegression(),'ranf':RandomForestClassifier()}

In [221]:
x = df.drop('Output',axis=1)
y = df['Output']
X_train , X_test ,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [222]:
X_train.shape

(300, 4)

In [223]:
X_test.shape

(76, 4)

In [224]:
for x in model:
    model[x].fit(X_train,y_train)
    y_pred = model[x].predict(X_test)
    print(f'{x} : {accuracy_score(y_test,y_pred)}')

log : 0.8026315789473685
ranf : 0.8421052631578947

In [225]:
l = LinearRegression()
l.fit(X_train,y_train)

LinearRegression()

In [226]:
y_pred = l.predict(X_test)
y_pred

array([0.83096015, 0.85267936, 0.86296365, 0.87699291, 0.49632935,
       0.85662433, 0.5955779 , 0.52303724, 0.88967154, 0.88333223,
       0.48999003, 0.61854082, 0.88572657, 0.64130374, 0.85028502,
       0.58549361, 0.7955186 , 0.7955186 , 0.8386501 , 0.81588718,
       0.85132873, 0.62623076, 0.80819723, 0.92012441, 0.78782865,
       0.8386501 , 0.80185792, 0.86296365, 0.85901868, 0.7203836 ,
       0.90370081, 0.78148934, 0.83490513, 0.88572657, 0.50900798,
       0.5370665 , 0.83625576, 0.88967154, 0.83231078, 0.85901868,
       0.56118006, 0.87938726, 0.84000073, 0.85267936, 0.86296365,
       0.89736149, 0.88572657, 0.86036931, 0.83231078, 0.64899368,
       0.7955186 , 0.86535799, 0.73940155, 0.5955779 , 0.63257008,
       0.83231078, 0.84634005, 0.55743508, 0.54974514, 0.90235018,
       0.89341652, 0.81588718, 0.85028502, 0.89206589, 0.86930297,
       0.55878571, 0.85901868, 0.84634005, 0.81588718, 0.87304794,
       0.62997574, 0.83625576, 0.48999003, 0.84000073, 0.60451155,
       0.87938726])

In [227]:
y_pred = (y_pred > 0.5).astype('int')

In [228]:
y_pred

array([1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1])

In [229]:
accuracy_score(y_test,y_pred)

0.8157894736842105